---
# Copyright (C) 2019 Expedia, Inc.
# Licensed under the Apache License, Version 2.0 (the "License");

source-catalog:
  name: aws-source
  hive-metastore-uris: ${source_metastore_uri}
replica-catalog:
  name: aws-target
  hive-metastore-uris: ${target_metastore_uri}
event-receiver:
  message-reader-factory-class: com.expediagroup.shunting.yard.receiver.sqs.messaging.SqsMessageReaderFactory
  configuration-properties:
    sqs.queue: ${shuntingyard_sqs_queue}
    sqs.wait.time.seconds: ${shuntingyard_sqs_queue_wait_timeout}
source-table-filter:
  table-names: 
${selected_tables}
${orphaned_data_strategy}
